<div class="container">
    <div class="row" ng-repeat="chat in chats">
        <div class="col-lg-4">
            {{ chat.anotherUser.firstName }} {{ chat.anotherUser.lastName}}
        </div>
        <div class="col-lg-12">
            <a href>
                {{ chat.lastMessage.substr(0, 80) }}
            </a>
        </div>
    </div>
</div>